<main>
  <div class="header">
    <h1>Memo 作成</h1>
  </div>
  <div class="content">
    <div class="conatiner-lg">
      <form class="row g-3" action="/memos" method="post">
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Title">
        </div>
        <div class="col-12">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" id="content" name="content" rows="3"></textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <%=@submit%>
          <button type="button" class="btn btn-outline-primary" onclick="history.back(-1)">戻る</button>
        </div>
      </form>
    </div>
  </div>
</main>
