<main>
  <div class="header">
    <h1>Memo App 404 Not found</h1>
  </div>
  <div class="content">
    <p>ページが見つかりません。</p>
    <a role="button" class="btn btn-outline-primary" href="/">一覧へ</a>
  </div>
</main>
